.category-slider {
  width: 100%;
  max-width: 1500px;
  height: 40%;
  margin: 50px auto;
  text-align: center;
  padding: 20px 0 40px;
  position: relative;
  align-items: center;
  /* background-color: wheat; */
}

.slick-list {
  height: 100% !important;   /* force to follow parent */
}

.slick-track {
  height: 100% !important;   /* force to follow parent */
  display: flex;  
}

.category-card {
  width: 100%;
  height: 100%;
  border-radius: 16px;
  text-align: center;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  /* box-shadow: 0 4px 12px rgba(0,0,0,0.08); */
  /* background-color: white; */
}

.category-image {
  width: 100%;
  height: 250px;
  border-radius: 12px;
  object-fit: cover;
  /* margin-bottom: 15px; */
}

.category-card h3 {
  font-size: 18px;
  font-weight: 600;
  margin: 8px 5px;
}

.category-card p {
  font-size: 14px;
  color: #777;
}

/* Gap between cards */
.slick-slide {
  padding: 0 15px;
  /* background-color: aquamarine; */
}

/* Arrows */
.slick-prev,
.slick-next {
  width: 50px;
  height: 50px;
  cursor: pointer;
  top: 130px;
  z-index: 1;
}

/* Arrow icons */
.slick-prev:before,
.slick-next:before {
  font-size: 30px;
  color: rgb(165, 165, 165);
}


/* Dots */
.slick-dots {
  position: absolute;
  left: 50%;
  top: 300px;
  transform: translateX(-50%);
  display: flex !important;
  justify-content: center;
}
