.herosection{
    width: 100%;
    padding: 100px 20px;
    min-height: 64vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('/src/assets/heroSection-bgImage.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
    /* background-color: red; */
}

.hero-content{
    width: 90%;
    max-width: 500px;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: absolute;
    top: 50px;
    /* background-color: yellow; */
}

.hero-title{
    font-size: 5rem;
    font-size: clamp(2rem, 5vw, 5rem);
    color:  rgb(82, 82, 5);
}

.hero-btn-group{
    width: 65%;
    height: 20%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 25px;
    /* background-color: rebeccapurple; */
}

.hero-btn{
    border-radius: 30px;
    border: none;
    outline: none;
    font-size: 15px;
    cursor: pointer;
    color: whitesmoke;
    background-color: rgb(82, 82, 5);
}

.hero-shop-btn{
    width: 33%;
    height: 61%;
    /* padding: 10px 20px; */
}

.hero-explore-btn{
    width: 47%;
    height: 64%;
    color:  rgb(82, 82, 5);
    background-color: white;
    border: 1px solid rgb(211, 211, 4);
    /* padding: 10px 30px; */
}

/* Gallery-section style */
.gallery-section{
    width: 100%;
    height: 700px;
    color:  rgb(82, 82, 5);
    background-color: whitesmoke;
    /* background-color:chartreuse; */
}

.gallery-contents{
    width: 100%;
    max-width: 1500px;
    margin: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    /* background-color: darkmagenta; */
}

.gallery-content{
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: blueviolet; */
}

.gallery-heading{
    font-size: 2rem;
}

.gallery-description{
    font-size: .7rem;
}

.gallery-grid{
    width: 100%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: brown; */
}

.gallery-center-item{
    width: 25%;
    height: 100%;
}

.gallery-center-item img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.gallery-item,
.gallery-column{
    width: 18%;
    /* background-color: burlywood; */
}
.gallery-item{
    height: 60%;
}

.gallery-column{
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* background-color: chocolate; */
}

.gallery-item img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.gallery-column img{
    width: 100%;
    height: 45%;
    border-radius: 10px;
}

/* Responsive */
@media (max-width: 768px) {
    .hero-title {
        font-size: clamp(2rem, 7vw, 4rem);
    }
    .herosection {
        padding: 60px 15px;
    }

    .hero-title {
        padding-left: 55px;
    }

    .hero-btn-group {
        padding-left: 55px;
        gap: 10px;
    }
}
