.offer-section {
    width: 100%;
    height: 850px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: rgb(82, 82, 5);
    background-color: rgb(248, 243, 184);

}

.offer-grid {
    width: 100%;
    height: 85%;
    gap: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  /* background-color: red; */
}

.offer-card {
    width: 18%;
    height: 45%;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    gap: 8px;
    transition: 0.3s;
    background-color: white;
}

.offer-card:hover {
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  transform: translateY(-5px);
}

.offer-img {
  width: 100%;
  height: 65%;
  object-fit: cover;
  border-radius: 10px;
}

.price-section{
    display: flex;
    gap: 10px;
}

.old-price {
  text-decoration: line-through;
  color: red;
}

.new-price {
  color: #2a9d8f;
  color: green;
  font-size: 18px;
  font-weight: bold;
}

.discount {
  padding: 4px 8px;
  border-radius: 6px;
  font-size: 12px;
  color: white;
  position: absolute;
  top: 10px;
  right: 10px;
  background: #e63946;
}

.offer-btn {
  padding: 10px 13px;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
  background: rgb(82, 82, 5);
}

.offer-btn:hover {
  background: #d62828;
}
